body{
box-sizing: border-box;
margin: 0;
background-color: tomato;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
}

li{
    list-style: none;
   
}

img{
    display: block;

}
